# Db2 Restful in python

In [1]:
import requests

In [5]:
db2id = \
{
  "hostname": "dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net",
  "password": "7@9m01g043r0t9bp",
  "https_url": "https://dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:8443",
  "port": 50000,
  "ssldsn": "DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net;PORT=50001;PROTOCOL=TCPIP;UID=svj55043;PWD=7@9m01g043r0t9bp;Security=SSL;",
  "host": "dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net",
  "jdbcurl": "jdbc:db2://dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB",
  "uri": "db2://svj55043:7%409m01g043r0t9bp@dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50000/BLUDB",
  "db": "BLUDB",
  "dsn": "DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=svj55043;PWD=7@9m01g043r0t9bp;",
  "username": "svj55043",
  "ssljdbcurl": "jdbc:db2://dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net:50001/BLUDB:sslConnection=true;"
}

## http_url. username, password

In [6]:
api = '/dbapi/v3'
host = db2id['https_url'] + api

In [7]:
userinfo = {
    "userid" : db2id['username'],
    "password" : db2id['password']
}

In [8]:
service = "/auth/tokens"

In [9]:
r = requests.post(host+service, json = userinfo)

In [10]:
r.status_code

200

In [11]:
r.json()

{'userid': 'svj55043',
 'token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1NjM1NjIxMzYsInVzZXJOYW1lIjoic3ZqNTUwNDMiLCJjb29raWUiOiIiLCJpc3N1ZSI6Imh0dHBzOi8vMTAuMTEyLjE5MC43Mzo4ODgwLyJ9.dIOwVV_VOMlSUqwY-2eouYWPIt9itiY5ZjUq0jNZGRI'}

In [12]:
access_token = r.json()['token']

In [13]:
auth_header = {
    "Authorization" : "Bearer" + access_token
}

In [23]:
sql_command = {
    "commands" : "SELECT * FROM EMPLOYEES",
    "limit" : 1000,
    "separator" : ";",
    "stop_on_error" : "yes"
}

In [24]:
service = "/sql_jobs"
r = requests.post(host + service, headers= auth_header, json=sql_command)

In [25]:
if r.status_code == 201:
    print(r.json())
else:
    print("Something went wrong with the call!")

{'commands_count': 1, 'limit': 1000, 'id': '1563561351550_1043853901_-789130155'}

In [26]:
jobid = r.json()['id']

In [27]:
r = requests.get(host + service+"/"+jobid, headers= auth_header)
if r.status_code != 200:
    print("Something went wrong!")

In [28]:
results = r.json()['results']
columns = results[0]['columns']
rows = results[0]['rows']

In [29]:
columns

['EMP_ID',
 'F_NAME',
 'L_NAME',
 'SSN',
 'B_DATE',
 'SEX',
 'ADDRESS',
 'JOB_ID',
 'SALARY',
 'MANAGER_ID',
 'DEP_ID']

In [30]:
rows

[['E1001    ',
  'John',
  'Thomas',
  '123456   ',
  '1976-01-09',
  'M',
  '5631 Rice, OakPark,IL',
  '100      ',
  '100000.00',
  '30001    ',
  '2        '],
 ['E1002    ',
  'Alice',
  'James',
  '123457   ',
  '1972-07-31',
  'F',
  '980 Berry ln, Elgin,IL',
  '200      ',
  '80000.00',
  '30002    ',
  '5        '],
 ['E1003    ',
  'Steve',
  'Wells',
  '123458   ',
  '1980-08-10',
  'M',
  '291 Springs, Gary,IL',
  '300      ',
  '50000.00',
  '30002    ',
  '5        '],
 ['E1004    ',
  'Santosh',
  'Kumar',
  '123459   ',
  '1985-07-20',
  'M',
  '511 Aurora Av, Aurora,IL',
  '400      ',
  '60000.00',
  '30004    ',
  '5        '],
 ['E1005    ',
  'Ahmed',
  'Hussain',
  '123410   ',
  '1981-01-04',
  'M',
  '216 Oak Tree, Geneva,IL',
  '500      ',
  '70000.00',
  '30001    ',
  '2        '],
 ['E1006    ',
  'Nancy',
  'Allen',
  '123411   ',
  '1978-02-06',
  'F',
  '111 Green Pl, Elgin,IL',
  '600      ',
  '90000.00',
  '30001    ',
  '2        '],
 ['E1007    ',
  'Mary',
  'Thomas',
  '123412   ',
  '1975-05-05',
  'F',
  '100 Rose Pl, Gary,IL',
  '650      ',
  '65000.00',
  '30003    ',
  '7        '],
 ['E1008    ',
  'Bharath',
  'Gupta',
  '123413   ',
  '1985-05-06',
  'M',
  '145 Berry Ln, Naperville,IL',
  '660      ',
  '65000.00',
  '30003    ',
  '7        '],
 ['E1009    ',
  'Andrea',
  'Jones',
  '123414   ',
  '1990-07-09',
  'F',
  '120 Fall Creek, Gary,IL',
  '234      ',
  '70000.00',
  '30003    ',
  '7        '],
 ['E1010    ',
  'Ann',
  'Jacob',
  '123415   ',
  '1982-03-30',
  'F',
  '111 Britany Springs,Elgin,IL',
  '220      ',
  '70000.00',
  '30004    ',
  '5        ']]

In [31]:
import pandas as pd
df = pd.DataFrame(data = rows, columns = columns)
cols= df.columns
df[cols] = df[cols].apply(pd.to_numeric, errors="ignore")

In [32]:
df

,EMP_ID,F_NAME,L_NAME,SSN,B_DATE,SEX,ADDRESS,JOB_ID,SALARY,MANAGER_ID,DEP_ID
0,E1001,John,Thomas,123456,1976-01-09,M,"5631 Rice, OakPark,IL",100,100000.0,30001,2
1,E1002,Alice,James,123457,1972-07-31,F,"980 Berry ln, Elgin,IL",200,80000.0,30002,5
2,E1003,Steve,Wells,123458,1980-08-10,M,"291 Springs, Gary,IL",300,50000.0,30002,5
3,E1004,Santosh,Kumar,123459,1985-07-20,M,"511 Aurora Av, Aurora,IL",400,60000.0,30004,5
4,E1005,Ahmed,Hussain,123410,1981-01-04,M,"216 Oak Tree, Geneva,IL",500,70000.0,30001,2
5,E1006,Nancy,Allen,123411,1978-02-06,F,"111 Green Pl, Elgin,IL",600,90000.0,30001,2
6,E1007,Mary,Thomas,123412,1975-05-05,F,"100 Rose Pl, Gary,IL",650,65000.0,30003,7
7,E1008,Bharath,Gupta,123413,1985-05-06,M,"145 Berry Ln, Naperville,IL",660,65000.0,30003,7
8,E1009,Andrea,Jones,123414,1990-07-09,F,"120 Fall Creek, Gary,IL",234,70000.0,30003,7
9,E1010,Ann,Jacob,123415,1982-03-30,F,"111 Britany Springs,Elgin,IL",220,70000.0,30004,5